html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(48, 48, 48),
    rgb(54, 54, 54)
  );
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/********************************************************************************
                                RUBIK'S CUBE
**/

.rubiks-cube {
  width: var(--size);
  height: var(--size);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(var(--crx)) rotateY(var(--cry));

  --size: min(50vh, 50vw);
  --half-size: calc(var(--size) / 2);
  --half-size-neg: calc(var(--size) / -2);
  --crx: 0deg;
  --cry: 0deg;
  --animation-duration: 350ms;
}

.rubiks-cube * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rubiks-cube .face {
  pointer-events: none;
  --translation: translate3d(0, 0, var(--half-size));
}

.rubiks-cube .face,
.control-cube .face {
  width: var(--size);
  height: var(--size);
  position: absolute;
  transform-style: preserve-3d;
  top: 0;
  left: 0;

  --border-width: max(2px, calc(var(--size) / 70));
}

.rubiks-cube .face.front .piece:after {
  background-color: rgb(0, 155, 72);
}

.rubiks-cube .face.right .piece:after {
  background-color: rgb(183, 18, 52);
}

.rubiks-cube .face.left .piece:after {
  background-color: rgb(255, 88, 0);
}

.rubiks-cube .face.back .piece:after {
  background-color: rgb(0, 70, 173);
}

.rubiks-cube .face.top .piece:after {
  background-color: rgb(255, 255, 255);
}

.rubiks-cube .face.bottom .piece:after {
  background-color: rgb(255, 213, 0);
}

.rubiks-cube .face .piece {
  position: absolute;
  width: calc(var(--size) / 3);
  height: calc(var(--size) / 3);
  transition-duration: var(--animation-duration);
  transform: var(--translation) var(--rotation);
  transform-style: preserve-3d;
  cursor: grab;
  pointer-events: all;
  background-color: #000;

  --second-position: calc(var(--size) / 3);
  --third-position: calc(var(--size) / 3 * 2);
}

.rubiks-cube .face .piece:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: var(--border-width) solid #000;
  backface-visibility: hidden;
}

.rubiks-cube .face .piece:active {
  cursor: grabbing;
}

.rubiks-cube .face .piece[data-index="1"] {
  top: 0;
  left: 0;
  transform-origin: 150% 150% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="2"] {
  top: 0;
  left: var(--second-position);
  transform-origin: 50% 150% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="3"] {
  top: 0;
  left: var(--third-position);
  transform-origin: -50% 150% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="4"] {
  top: var(--second-position);
  left: 0;
  transform-origin: 150% 50% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="5"] {
  top: var(--second-position);
  left: var(--second-position);
  transform-origin: 50% 50% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="6"] {
  top: var(--second-position);
  left: var(--third-position);
  transform-origin: -50% 50% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="7"] {
  top: var(--third-position);
  left: 0;
  transform-origin: 150% -50% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="8"] {
  top: var(--third-position);
  left: var(--second-position);
  transform-origin: 50% -50% var(--half-size-neg);
}

.rubiks-cube .face .piece[data-index="9"] {
  top: var(--third-position);
  left: var(--third-position);
  transform-origin: -50% -50% var(--half-size-neg);
}

@media screen and (max-width: 700px) {
  .rubiks-cube {
    --size: min(65vh, 65vw);
  }
}

/********************************************************************************
                                CONTROL CUBE
**/

.control-cube {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: var(--half-size);
  right: var(--half-size);
  transform-style: preserve-3d;
  transform: rotateX(var(--crx)) rotateY(var(--cry));

  --size: min(20vh, 20vw);
  --half-size: calc(var(--size) / 2);
  --half-size-neg: calc(var(--size) / -2);
  --crx: 0deg;
  --cry: 0deg;
}

.control-cube .face {
  border: 1px solid rgb(214, 220, 238);
  user-select: none;
  cursor: grab;
  backface-visibility: none;
  background-color: rgb(101, 119, 223);
  opacity: 0.8;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: calc(var(--size) / 5);
  color: rgb(255, 255, 255);
}

.control-cube .face:active {
  cursor: grabbing;
}

.control-cube .face.front {
  transform: translate3d(0, 0, var(--half-size)) rotate3d(0, 0, 0, 0deg);
}

.control-cube .face.right {
  transform: translate3d(var(--half-size), 0, 0) rotate3d(0, 1, 0, 90deg);
}

.control-cube .face.left {
  transform: translate3d(var(--half-size-neg), 0, 0) rotate3d(0, 1, 0, -90deg);
}

.control-cube .face.back {
  transform: translate3d(0, 0, var(--half-size-neg)) rotate3d(0, 1, 0, 180deg);
}

.control-cube .face.top {
  transform: translate3d(0, var(--half-size-neg), 0) rotate3d(1, 0, 0, 90deg);
}

.control-cube .face.bottom {
  transform: translate3d(0, var(--half-size), 0) rotate3d(1, 0, 0, -90deg);
}
